.divFinalDeCompra{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    #h1{
        color: brown;
        margin-top: 1em;
        padding: 2em;
    }
    #parrafoC{
        background-color: black;
        color: aliceblue;
        border-radius: 1em;
        padding: 1em;
    }

    #parrafoTotal{
        background-color: brown;
        color: black;
        font-size: 28px;
        font-weight: bold;
        padding: 1em;
        border-radius: 2em;
    }
}


.divH1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3em;
    span{
        color: brown;
    }
}
.div{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 3em;
    .card{
        margin: 2em;
    }
}


.boton{
    border: none;
}

.divParrafo{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    font-weight: bold;
    p{
        border-bottom: solid;
    }
}

.ultimoDiv{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    #botonF{
        border-radius: 2em;
    }
}

